/* General Styles */
* {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

body {
  min-height: 100vh; /* Ensures body occupies the full viewport height */
  display: flex;
  flex-direction: column;
}

header {
  background-color: rgb(45, 148, 114);
  color: #fff;
  padding: 10px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-container {
  background-color: rgb(45, 148, 114);
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 10px;
  color: #fff;
}

h2 {
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 10px;
  display: flex;
  gap: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
  color: #333;
}

/* Interactive Button */
button {
  background-color: #333;
  color: #fff;
  border: none;
  margin-bottom: 0;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #555;
}

button:active {
  background-color: #777;
  color: #fff;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex: 1;
}

#main-container {
  background-color: rgb(152, 178, 225);
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
  align-items: center;
}

#welcome-container {
  background-color: #ccc4c4;
  border-radius: 8px;
  margin: 10px auto;
  padding: 10px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  text-align: center;
}

#image-container img {
  width: 120px; /* Set a fixed width for the image */
  height: auto; /* Maintain aspect ratio */
  border-radius: 50%; /* Make the image circular */
  object-fit: cover; /* Ensure the image fills the space properly */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

#message-container {
  max-width: 100%;
  margin: 10px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  text-align: center;
  flex: 1;
}

#introduction-container h2 {
  margin: 10px;
}

#central-container {
  display: flex;
  width: 100%;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex: 1;
  text-align: center;
}

#projects-container {
  background-color: rgb(45, 148, 114);
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; /* Allows wrapping of cards */
  gap: 20px;
  align-items: center; /* Ensures cards stretch evenly */
  justify-content: space-around; /* Center-aligns the cards */
  flex: 1;
  box-sizing: border-box;
  border-radius: 8px;
}

#projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

#projects h2 {
  color: #fff;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 20px;
  gap: 20px;
  justify-content: center;
}

.card {
  background-color: rgb(233, 203, 166);
  border: 1px solid #ddd;
  max-width: 500px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px 10px 30px;
  margin: 10px;
  flex: 1 1 calc(33.333% - 40px);
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.card h3 {
  margin-top: 0;
  text-align: center;
}

.card p {
  text-align: center;
  margin: 10px 0;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

aside {
  padding: 20px;
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#aside-container {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(220, 144, 144);
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 10px 0 0;
  max-width: 500px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

#aside-container:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

#contact-info {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#social-media {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

aside ul {
  list-style: none;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

aside a {
  color: #333;
  text-decoration: none;
}

aside a:hover {
  text-decoration: underline;
}

footer {
  background-color: rgb(45, 148, 114);
  height: 5svh;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  bottom: 0;
}

footer p {
  color: #fff;
  font-size: larger;
}
